[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = ["npm install --legacy-peer-deps --include=dev"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "node dist/server.js"

[variables]
NPM_CONFIG_LEGACY_PEER_DEPS = "true"

